.graph_main{
    display: flex;
    flex-direction: row;
    margin-left: 15%;
}

.popup_close{

    background-color: lightcyan;
    color: tomato;
    height: 26px;
    font-weight: bold;
    border-radius: 100px;
}

.popup_close:hover{

    background-color: red;
    color: lightcyan;
}